.container
  = render "layouts/global-navigation"
  .container.container-m.main
    .row
      %h1.sub.mb-4
        メンバーディレクトリ
    .row.mb-4
      - if current_user.has_role? :admin
        = link_to "ユーザー新規作成", new_user_registration_path, class: 'btn btn-primary btn-sm'
    .row
      - @users.each do |user|
        .col.bg-light
          = render partial: 'user-units', locals: { user: user }
