.contents
  = render "layouts/global-navigation"
  .main
    .index-sub
      .index-sub__msg
        選択するユーザーを選んでください！
      .index-sub__list
        - @users.each do |user|
          .prj-list
            = link_to user_path(user) do
              -# .prj-list__prj-name
              -#   = image_tag user.avatar
              .prj-list__prj-name
                = user.name
              .prj-list__prj-profile
                = user.profile
        %br
