= render "layouts/global-navigation"
.container.main
  .row
    %h1.col.sub.mb-2
      %i.fas.fa-users.fa-fw
      メンバーディレクトリ
  .row
    .col.mb-4
      本アプリケーションに登録されているメンバーの一覧です。
  .row
    - @users.each do |user|
      .col.bg-light
        = render partial: 'user-units', locals: { user: user }
