-# = form_with(model: project, id: pjnew, html: { class: "form-field needs-validation", novalidate: true }, local: true) do |f|
-#   %h3.text-muted.my-2 プロジェクト概要
-#   .form-group
-#     = f.label :name, "プロジェクト名", class: "label-text"
-#     %span.require 必須
-#     = f.text_field :name, class: "form-control form-control-sm half-form", required: "#{'required'}"
-#     %p.invalid-feedback
-#       プロジェクト名を入力してください
-#   .form-group
-#     = f.label :profile, "プロジェクト概要", class: "label-text"
-#     %span.require 必須
-#     = f.text_field :profile, id: "project_profile", class: "form-control form-control-sm", required: "#{'required'}"
-#     %p.invalid-feedback
-#       プロジェクト概要を入力してください
-#   %h3.text-muted.my-2 メンバー情報
-#   .checkbox.check-control
-#     = f.label :member, "プロジェクトメンバー"
-#     %span.require 必須
-#     %br
-#     = f.collection_check_boxes :user_ids, User.all, :id, :name, include_hidden: false
-#     %p.invalid-feedback
-#       プロジェクトメンバーを選択してください
-#     = f.hidden_field :creator, value: current_user.id
-#     .form-footer.my-4
-#       .form-group.form-footer__btns
-#         %p= link_to "戻る", :back, class: "backbtn btn btn-secondary"
-#       - if request.path_info == new_project_path
-#         .form-group.form-footer__btns
-#           = f.submit "登録する", class: "btn btn-primary"
-#       - else
-#         .form-group.form-footer__btns
-#           = f.submit "更新する", method: :patch, class: "btn btn-primary"
-# - if request.path_info == new_project_path
-# - else
-#   .form-footer.my-4
-#     .form-group.form-footer__btns
-#       = button_to '削除する', project_path, method: :delete, class: "btn btn-danger"
