= render "layouts/global-navigation"
.container.main.form-main
  .row.justify-content-center
    %h1.col-auto.sub.mb-3
      %i.fas.fa-building.fa-fw
      = "情報変更: #{@project.name}"
  .row.justify-content-center
    .col-auto.mb-3
      プロジェクトの情報変更を行います。
  .row.justify-content-center
    .col-auto.bg-light.pj-form-width
      = render partial: 'pj-form', locals: { project: @project }
