.contents
  = render "layouts/global-navigation"
  .main
    .pj-field.container
      .sub-msg
        = "プロジェクト:#{@project.name} 情報変更"
      .pj-new-form
        = render partial: 'pj-form', locals: { project: @project }
