.container
  = render "layouts/global-navigation"
  .main
    .index-field
      .sub-msg
        プロジェクト一覧
      .pj-container
        - @projects.each do |project|
          = render partial: 'pj-units', locals: { project: project, user: @user, post: @post }
