.container
  = render "layouts/global-navigation"
  .container.container-m.main
    .row
      %h1.sub.mb-4
        プロジェクト
    .row
      - @projects.each do |project|
        .col-sm-12.bg-light
          = render partial: 'pj-units', locals: { project: project, user: @user, post: @post }
