= render "layouts/global-navigation"
.container.main
  .row
    %h1.col.sub.mb-2
      プロジェクトグループ新規作成
  .row
  .col.mb-3
    プロジェクトの新規登録を行います。
  .row
    .col.bg-light
      = render partial: 'pj-form', locals: { project: @project }
