-# -# = javascript_pack_tag 'app'
-# -# = stylesheet_pack_tag 'app'

-# .contents
-#   -# = render "layouts/global-navigation"
-#   .main
-#     .pj-field.container
-#       .sub-msg
-#         新規プロジェクトグループ作成
-#       .pj-new-form
-#         = render partial: 'pj-form', locals: { project: @project }


