.container
  = render "layouts/global-navigation"
  .container.container-m.main
    .row
      %h1.sub.mb-4
        プロジェクトグループ新規作成
    .row
      .pj-new-form.bg-light
        = render partial: 'pj-form', locals: { project: @project }
