.global-navigation {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 128px;
  .navi-menus {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    .search-box {

    }
    .user-list {

    }
    .project-list {

    }
  }
  .my-account {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    background-color: #45607a;
    display: flex;
    .account-img {
      width: 40px;
      height: 38px;
      padding: 4px;
      overflow: hidden;
      & img {
        border-radius: 50%;
        height: 30px;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .account-name {
      font-size: 18px;
      line-height: 38px;
      margin-left: 4px;
      & a:hover,
      a:link,
      a:visited,
      a:active {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
