.header{
  // .headerのプロパティはsection.scssに記載
  .top-navi {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    background-color:  #7B8F8A;
    border-top: 1px solid gray;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 140px;
    .search-box {
      grid-row: 1 / 1;
      grid-column: 1 / 2;
      line-height: 36px;
      text-align: center;
      color: gray;
    }
    .mymenu {
      grid-row: 1 / 1;
      grid-column: 2 / 2;
      background-color: #45607a;
      display: flex;
      .account-img {
        width: 40px;
        height: 38px;
        padding: 4px;
        overflow: hidden;
        & img {
          border-radius: 50%;
          height: 30px;
          width: 100%;
          object-fit: cover;
          display: block;
        }
      }
      .account-name {
        font-size: 18px;
        line-height: 38px;
        margin-left: 4px;
        & a:hover,
        a:link,
        a:visited,
        a:active {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .pj-sub {
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    padding: 4px;
    .pj-name-box {
      display: flex;
      margin: 8px;
      // .pj-img {
      //   width: 66px;
      //   height: 64px;
      //   padding: 4px;
      //   overflow: hidden;
      //   & img {
      //     height: 60px;
      //     width: 100%;
      //     object-fit: cover;
      //     display: block;
      //   }
      // }
      .pj-name {
        font-size: 48px;
        margin-left: 6px;
        line-height: 60px;
      }
    }
  }
  .pj-member {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    margin: 16px;
    & img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 8px;
      object-fit: cover;
      display: block;
    }
    .member-list {
      display: flex;
      justify-content: left;
      &__member-icons {
      }
    }
  }
  .pj-desc {
    grid-row: 4 / 5;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    .desc-box {
      margin: 16px 0;
      font-size: 16px;
    }
  }
}



// // 未使用
// .pjswitch{
//   float: left;
//   width: 300px;
//   height: 34px;
//   position: absolute;
//   display: flex;
// }
// .pjswitch img{
//   width: 26px;
//   height: 26px;
//   margin-right: 7px;
// }
// .pj-list {
//   padding: 2px 4px;
//   height: 30px;
//   line-height: 28px;
//   display: flex;
//   justify-content: left;
//   &__list-icons {
//   }
// }
