.post-main {
  // .post-mainのプロパティはpost-section.scssに記載
  h2.sub {
    font-size: 16px;
    margin-top:8px;
  }
  h3.sub {
    font-size: 12px;
    margin-top:16px;
    margin-bottom: 8px;
    color: gray;
  }
  span.require {
    color: red;
    font-size: 10px;
  }
  .form-field {
    display: grid;
    grid-gap: 24px;
    grid-auto-rows: 7fr 1fr;
    font-size: 12px;
    grid-template-columns: 3fr 3fr 6fr 4fr;
    .company-info {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      border-radius: 8px;
    }
    .status-info {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      border-radius: 8px;
    }
    .contact-info {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      border-radius: 8px;
      .form-text-area {
        height: 432px;
      }
    }
    .log-info {
      grid-row: 1 / 2;
      grid-column: 4 / 5;
      border-radius: 8px;
      display: grid;
      grid-gap: 8px;
      grid-auto-rows: auto 1fr 1fr;
      grid-template-columns: 1fr;
      .action-log-box {
        grid-row: 2 / 3;
        grid-column: 1;
        // background-color: cadetblue;
        overflow: scroll;
        .log-msg-list {
          display: flex;
          justify-content: left;
          align-items: center;
          &__created-at {
            list-style: none;
            margin-top: 6px;
          }
          &__register {
            list-style: none;
          }
        }
      }
      .contact-log-box {
        grid-row: 3/ 4;
        grid-column: 1;
        // background-color: darkseagreen;
        overflow: scroll;
      }
    }
    .post-footer {
      grid-row: 2 / 3;
      grid-column: 1 / 5;
      display: flex;
      justify-content: center;
      .btn {
        margin-right: 8px;
      }
    }
  }
}
