.pj-category
  %ul.pj-category__act-lists
    %li.pj-category__act-lists__list
      = link_to "ミッション", project_path(@project), class: 'btn btn-secondary btn-sm'
    %li.pj-category__act-lists__list
      = link_to "コンタクトログ", project_posts_path(@project), class: 'btn btn-secondary btn-sm'
    -# %li.pj-category__act-lists__list
    -#   = link_to "+", new_project_post_path(@project)
