= render "layouts/global-navigation"
= render "layouts/pj-header"
.container
  .row.mb-2
    .col-sm-12.px-0
      %h3
        %ul
          %li チームの当月コンタクト全件数とリード件数（mix）
          %li リード件数のステータス内訳
          %li リード件数の商材内訳
          %li リード件数の商材内訳
          %li チームメンバー別の当月KPI（累積コンタクト数、累積リード数、累積アポイント数）



