.post-contents
  = render "layouts/global-navigation"
  .post-main
    .post-field
      %h2.sub
      = "[INFO ID:#{@post.id}] 登録情報変更"
      = render partial: 'post-form', locals: { post: @post, project: @project, logs: @logs }
