= render "layouts/global-navigation"
.container.post-main
  .row
    %h1.col-sm-12
    = "[INFO ID:#{@post.id}] ログ情報変更"
  = render partial: 'post-form', locals: { post: @post, project: @project, logs: @logs }
