= render "layouts/global-navigation"
.container.post-main
  .row
    .col-sm-12.px-0
      %h3.p-3
        %i.fas.fa-edit.fa-fw
        コンタクトログ新規登録
  = render partial: 'post-form', locals: { post: @post, project: @project, logs: @logs }
