.pj-header {
    display: grid;
    grid-template-rows: 72px 56px 80px 40px;
    grid-template-columns: 1fr;
    // background-image: image-url("bg-topMiddleDl-pict.jpg");
    .pj-sub {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        font-size: 48px;
    }
    .pj-member {
        grid-row: 2 / 3;
        grid-column: 1 / 1;
        display: flex;
        justify-content: center;
        margin: 16px 8px 8px 8px;
        & img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 8px;
            object-fit: cover;
            display: block;
        }
        .member-list {
            font-size: 16px;
            display: flex;
            justify-content: left;
            &__member-icons {}
        }
    }
    .pj-desc {
        grid-row: 3 / 4;
        grid-column: 1 / 1;
        display: flex;
        justify-content: center;
        .desc-box {
            padding: 16px;
            font-size: 16px;
        }
    }
    .pj-category {
        display: flex;
        justify-content: center;
        background-color: #fff;
        &__act-lists {
            display: flex;
            &__list {
                margin-left: 10px;
                line-height: 40px;
                &--active {
                    font-weight: bold;
                    color: darkorange;
                }
            }
        }
    }
}