.user-header
  .top-navi
    %h1.pj-name
      ユーザー情報
    -# .pjswitch
    -#   %ul.pj-list
    -#     - current_user.projects.each do |project|
    -#       %li.list-icons
    -#         = link_to project_path(project) do
    -#           = image_tag project.image.url
    .mymenu
      .account-img
        - if current_user.avatar.attached?
          = image_tag current_user.avatar
      .account-name
        = link_to "#{current_user.name}", user_path(current_user)
